<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
<nav th:replace="layouts :: navbar"></nav>

<div class="container">
        <h3> new-city.html</h3>
    <form action="/crud/cities/save" th:object="${city}" method="POST">
        <input type="text" placeholder="City name" th:field="*{city.name}">
        <input type="text" placeholder="City population" th:field="*{city.population}">

        <button type="submit">Create City</button>
    </form>
</div>

</body>
</html>
