<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h3>Steden Directory</h3>
    <hr>

    <!--Add New Stad Button -->
    <a th:href="@{/steden/new}" class="btn btn-primary btn-sm mb-3">
        Add Stad </a> <br>

</br>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Population</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="aStad : ${steden}">
            <td th:text="${aStad.name}" />
            <td th:text="${aStad.population}" />
        </tr>
        </tbody>

    </table>
</div>
</body>

</html>
